/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

* {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    color: #F1F1F1;
    background-color: #0B0B0B;
    margin: 0%;
}
body {
    background-color: #0B0B0B !important;
}
a, h4 {
    color: #B74B4B !important;
}
.navbar-toggler {
    padding: 0 !important;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(183,75,75)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
.navbar-toggler:focus {
    box-shadow: none !important;
}
.fa-brands {
    color: #B74B4B;
}